
        {% extends 'base.html' %}
        {% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">방문해주셔서 감사합니다.</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">코멘토 직무부트캠프 2주차 과제입니다.</p>
                        <a class="btn btn-light btn-xl" href="#상품">신규상품 보기</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- 회사소개-->
        <section class="page-section bg-dark" id="회사소개">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">역사 / 경영이념 / 사업 페이지</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">아직 페이지가 완성되지 않았습니다.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- 신규상품-->
        <section class="page-section" id="상품">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">신규상품 페이지 입니다.</h2>
                <hr class="divider" />
                <section class="page-section bg-dark" id="신규상품1">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="col-lg-8 text-center">
                                <h2 class="text-white mt-0">신규상품 1</h2>
                                <hr class="divider divider-light" />
                                <li class="new product1"><a class="link active" href="http://localhost:8000/mysite/content_list/">신규상품명1</a></li>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="page-section bg-dark" id="신규상품2">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="col-lg-8 text-center">
                                <h2 class="text-white mt-0">신규상품 2</h2>
                                <hr class="divider divider-light" />
                                <li class="new product1"><a class="link active" href="http://localhost:8000/newProduct2/">신규상품명2</a></li>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="page-section bg-dark" id="신규상품3">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="col-lg-8 text-center">
                                <h2 class="text-white mt-0">신규상품 3</h2>
                                <hr class="divider divider-light" />
                                <li class="new product1"><a class="link active" href="http://localhost:8000/newProduct3/">신규상품명3</a></li>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <!-- 인기상품-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">인기상품 페이지 입니다.</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-box fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">인기상품_1</h3>
                            <p>{{ content.content | truncatewords:30 }}</p>
                            <a class="btn btn-light btn-xl" href="http://localhost:8000/product_detail/">자세히 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-box fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">인기상품_2</h3>
                            <p>{{ content.content | truncatewords:30 }}</p>
                            <a class="btn btn-light btn-xl" href="http://localhost:8000/product_detail/">자세히 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-box fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">인기상품_3</h3>
                            <p>{{ content.content | truncatewords:30 }}</p>
                            <a class="btn btn-light btn-xl" href="http://localhost:8000/product_detail/">자세히 보기</a>
                        </div>
                    </div>
                </div>
                <hr class="divider" />
                <a class="btn btn-light btn-xl" href="http://localhost:8000/product_all/">더 많은 상품 보러 가기</a>
            </div>
        </section>
        {% endblock %}
